<p>Top Result for <%= @title %></p>
<table>
  <tr>
    <td>Title </td>
    <td >Artist </td>
    <td>Spotify Link </td>
  </tr>
  <tr>
    <td> <%= @title %> </td>
    <td> <%= @artist %> </td>
    <td> <a href= <%= @spotify %>> <%= @title %> </a></td>
  </tr>
</table>

<%= link_to "Search again", new_query_path, method: :get %>
<%= link_to "See past queries", root_url, method: :get %>
